.block{
  border: 2px solid rgb(0, 0, 0);
  height: 100px;
  width: 100px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: 500;
}

.board {
  padding: 20px; 
}

.row{
  display: flex;
}